.custom-btn{
  font-size: 15px;
  width: 7rem;
}

.panel-height-helper{
  overflow: auto;
}

.custom-label{
  font-size: 15px;
  padding: .5rem 1rem;
}

input[type=file]#upload{
  height: auto;
  line-height: 0;
}

svg{
  fill: #ffffff;
  /*border: 1px solid black;*/
  g{
    rect.node-shape{
      border-radius: 5px !important;
      fill:#ffffff !important;
      stroke: none !important;
    }
    rect.node-name{
      font-weight: 800 !important;
    }
    rect.node-bar{
      fill: #0071c1 !important;
    }
    rect.node-value{
      fill: #000000 !important;
      font-size: 15px !important;
    }
    text.node-pct{
      fill: #ffffff !important;
    }
    text.node-value{
      fill: #000000 !important;
    }
  }
  line.edge-line {
    stroke:#ffffff !important;
  }
  path.edge-head {
    fill:#ffffff !important;
  }
}

#active-network, #stopped-network {
  font-size: 1.0rem;
  font-weight: bold;
  margin-left: 1em;
}

#active-network {
  color: #008000;
}

#stopped-network {
  color: #8b0000;
}