<div class="page-header">
    <h1>Modify Network</h1>
</div>

<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label" for="networks">Networks</label>
            <select name="networks" id="networks" ng-options="network as network.name for network in ctrl.networks" ng-model="network" ng-change="ctrl.getNodes()">
            </select>
            <select name="nodes" id="nodes" ng-options="node as node.name for node in ctrl.nodes" ng-model="node" >
                <option value="" disabled selected hidden>Node</option>
            </select>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label" for="databases">Data Source</label>
            <select name="databases" id="databases" ng-options="database as database.name for database in ctrl.databases" ng-model="database" ng-change="ctrl.getTables()">
                <option value="" disabled selected hidden>Database</option>
            </select>
            <select name="tables" id="tables" ng-options="table as table.name for table in ctrl.tables" ng-model="table" ng-change="ctrl.getColumns()">
                <option value="" disabled selected hidden>Table</option>
            </select>
            <select name="columns" id="columns" ng-options="column as column[0] for column in ctrl.columns" ng-model="column">
                <option value="" disabled selected hidden>Column</option>
            </select>
            <button class="btn btn-success" ng-click="ctrl.sendUpdates()">Modifica rete</button>
        </div>
    </div>
</div>
<!--
<section ng-if="ctrl.databases.length > 0" class="card-section card-list-layout-list" layout-mode>
    <ol class="card-list" >
        <li class="card-item-wrapper" ng-repeat="database in ctrl.databases">
            <div class="card-item pointer" ng-click="ctrl.gotoDashboard(endpoint, $event)">
                <div class="card-item-header card-item-header--wp-icons card-item-header-action">
                    <a style="margin-left: 15px; vertical-align: sub;" href="plugins/raintank-worldping-app/page/endpoint-details?endpoint={{endpoint.id}}">
                        <i ng-class="icon" class="icon-gf icon-gf-settings" bs-tooltip="'Endpoint<br>Details & Config'"></i>
                    </a>
                </div>
                <div class="card-item-body">
                    <div class="card-item-details">
                        <div class="card-item-name">
                            <a href="dashboard/db/worldping-endpoint-summary?&var-endpoint={{endpoint.slug}}&var-probe=All">
                                {{endpoint.name}}
                            </a>
                            <span ng-repeat="tag in endpoint.tags" tag-color-from-name="tag"  class="label label-tag">
								{{tag}}
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</section>

<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label">Data Source</label>
            <gf-form-dropdown model="ctrl.panelDsValue" css-class="gf-size-auto" lookup-text="true" get-options="ctrl.getOptions(true)" on-change="ctrl.datasourceChanged($option)">
                <input type="text" data-provide="typeahead" class="gf-form-input" spellcheck="false" style="width: 96px; display: none;">
                <ul class="typeahead dropdown-menu" style="top: 36.2px; left: 86.3667px; display: none;">
                    <a ng-class="ctrl.cssClasses" tabindex="1" ng-click="ctrl.open()" give-focus="ctrl.focus" ng-bind-html="ctrl.display || '&nbsp;'" class="gf-form-input gf-form-input--dropdown gf-size-auto" style="">default</a>
            </gf-form-dropdown>
        </div>

        <div class="gf-form gf-form--grow">
            <label class="gf-form-label gf-form-label--grow"></label>
        </div>

        <div class="gf-form">
            <button class="gf-form-label" ng-click="ctrl.toggleQueryTroubleshooter()" bs-tooltip="'Display query request &amp; response'" data-original-title="" title="">
                <i class="fa fa-fw fa-caret-right" ng-hide="ctrl.queryTroubleshooterOpen"></i><i class="fa fa-fw fa-caret-down ng-hide" ng-show="ctrl.queryTroubleshooterOpen"></i>Query Inspector
            </button>
        </div>
    </div>
</div>
-->