<div class="page-header">
    <h1>Add Network</h1>
</div>

<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form">
            <input type="file" id="upload" class="gf-form-input" >
        </div>
    </div>
    <div class="gf-form-inline" ng-if="ctrl.databases.length > 0">
        <div class="gf-form">
            <label class="gf-form-label" for="databases">Data Source</label>
            <select name="databases" id="databases" ng-options="database as database.name for database in ctrl.databases" ng-model="database">
            </select>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form">
            <button class="btn btn-success" ng-click="ctrl.loadNetwork()">Load network</button>
        </div>
    </div>
</div>