<div class="container-fluid">
    <h1>Administration Panel</h1>
    <div class="row">
        <div class="col-sm-6">
            <h4>Create a network</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="">
                <i class="fa fa-plus"></i>
                Create
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Add a network</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="plugins/gnb/page/add-network">
                <i class="fa fa-plus"></i>
                Add
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Modify a network</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="plugins/gnb/page/modify-network">
                <i class="fa fa-plus"></i>
                Modify
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Delete a network</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="">
                <i class="fa fa-plus"></i>
                Delete
            </a>
        </div>
    </div>
</div>