<div class="container-fluid">
    <h1>Administration Panel</h1>
    <div class="row">
        <div class="col-sm-6">
            <h4>Crea una rete</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="">
                <i class="fa fa-plus"></i>
                Crea
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Aggiungi una rete</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="plugins/grafana-example-app/page/add-network">
                <i class="fa fa-plus"></i>
                Aggiungi
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Modifica una rete</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="plugins/grafana-example-app/page/modify-network">
                <i class="fa fa-plus"></i>
                Modifica
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Elimina una rete</h4>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success custom-btn" href="">
                <i class="fa fa-plus"></i>
                Elimina
            </a>
        </div>
    </div>
</div>