<div ng-if="ctrl.networks==0">No networks found</div>

<div class="container-fluid">
    <div class="row" ng-repeat="network in ctrl.networks">
        <div class="col-sm-6">
            <h4>{{network.name}}</h4>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success" ng-click="ctrl.start(network.id, network.name)">
                <i class="fa fa-play"></i>
                Start
            </button>
            <button class="btn btn-danger" ng-click="ctrl.stop(network.id, network.name)">
                <i class="fa fa-stop"></i>
                Stop
            </button>
        </div>
    </div>
</div>