<div class="container-fluid">
    <div class="page header">
        <h1>Network list</h1>
    </div>

    <div ng-if="ctrl.networks==0">No networks found</div>

    <div class="gf-form-group">
        <div class="gf-form-inline" ng-repeat="network in ctrl.networks">
            <div class="gf-form">
                <!--TODO check buttons not disabling-->
                <label class="gf-form-label custom-label width-12">{{network.name}}</label>
                <button class="btn btn-success custom-btn" ng-disabled="network.active" ng-click="ctrl.start(network)">
                    <i class="fa fa-play"></i>
                    Start
                </button>
                <button class="btn btn-danger custom-btn" ng-disabled="!network.active" ng-click="ctrl.stop(network)">
                    <i class="fa fa-stop"></i>
                    Stop
                </button>
                <span id="active-network" ng-if="network.active">Running</span><span id="stopped-network"
                                                                                     ng-if="!network.active">Not running</span>
            </div>
        </div>
    </div>
</div>